/* Chat Header styles */
.chat__mainHeader {
  background-color: #4a76a8;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaveChat__btn {
  background-color: #e74c3c;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

/* Message Container styles */
.message__container {
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  background-color: #c12f2f;
}

.message__chats {
  margin-bottom: 10px;
}

.sender__name,
.message__recipient p,
.message__sender p {
  margin: 0;
  padding: 0;
}

.message__sender {
  background-color: #a8dadc;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.message__recipient {
  background-color: #f1faeece;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

/* Typing status styles */
.message__status p {
  margin: 10px 0;
  color: #555;
}

.chat__footer {
  background-color: #333;
  padding: 15px;
  color: white;
}

.chat__main {
  display: flex;
  flex-direction: column;
}

.message__container {
  flex-grow: 1;  /* This ensures it takes up the available space but no more */
  overflow-y: auto;
}

